<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellIdentifier</key>
		<string>AmenitiesTableCell</string>
		<key>title</key>
		<string>image</string>
		<key>type</key>
		<string>img</string>
		<key>kind</key>
		<string>image</string>
		<key>image</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>cellIdentifier</key>
		<string>ViewAllCell</string>
		<key>title</key>
		<string>Photos</string>
		<key>type</key>
		<string>img</string>
		<key>kind</key>
		<string>image</string>
		<key>image</key>
		<string>logo</string>
		<key>enumType</key>
		<string>1</string>
	</dict>
	<dict>
		<key>cellIdentifier</key>
		<string>PhotoCollectionTableCell</string>
		<key>title</key>
		<string>Photos</string>
		<key>type</key>
		<string>pictures</string>
		<key>kind</key>
		<string>image</string>
		<key>image</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>cellIdentifier</key>
		<string>ViewAllCell</string>
		<key>title</key>
		<string>Videos</string>
		<key>type</key>
		<string>img</string>
		<key>kind</key>
		<string>image</string>
		<key>image</key>
		<string>logo</string>
		<key>enumType</key>
		<string>2</string>
	</dict>
	<dict>
		<key>cellIdentifier</key>
		<string>PhotoCollectionTableCell</string>
		<key>title</key>
		<string>Photos</string>
		<key>type</key>
		<string>videos</string>
		<key>kind</key>
		<string>image</string>
		<key>image</key>
		<string>logo</string>
	</dict>
</array>
</plist>
